@model ApsiyonProject.Application.App.Common.Interfaces.Dtos.BuildingDto


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateBuilding</title>
</head>
<body>

<h4>BuildingDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBuilding">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BlockName" class="control-label"></label>
                <input asp-for="BlockName" class="form-control" />
                <span asp-validation-for="BlockName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <p>@ViewBag.AddCountMessage +" Kayıt Eklendi"</p>
</div>

</body>
</html>
