@model ApsiyonProject.Application.App.Common.Interfaces.Dtos.BuildingDto


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateBuilding</title>
</head>
<body>

    <div class="modal-header">
        <h4 class="modal-title">BuildingDto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <form asp-action="CreateBuilding">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BlockName" class="control-label"></label>
                <input asp-for="BlockName" class="form-control" />
                <span asp-validation-for="BlockName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

</body>
</html>
