@model IEnumerable<BuildingDto>


<div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            @await Component.InvokeAsync("Building");
        </div>
    </div>
</div>

@Html.ActionLink("Site Ekle", "CreateBuilding", "account", null, new { id = "open", data_toggle = "modal", data_target = "#showmodal", @class = "btn btn-primary" })
@Html.RenderPartialAsync("GetBuildingList", Model)
