@model FlatDto



<div id="showmodal5" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @await Component.InvokeAsync("FlatStatus");
        </div>
    </div>
</div>

<div id="showmodal6" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @await Component.InvokeAsync("FlatType");
        </div>
    </div>
</div>



<h4>FlatDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddFlat">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FlatNumer" class="control-label"></label>
                <input asp-for="FlatNumer" class="form-control" />
                <span asp-validation-for="FlatNumer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FloorId" class="control-label"></label>
                <input readonly asp-for="FloorId" class="form-control" />
                <span asp-validation-for="FloorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlatStatusId" class="control-label"></label>
                <a id="open5" data-toggle="modal" data-target="#showmodal5" asp-action="" class="form-control btn btn-primary">Daire Durumu Ekle</a>
                <select class="form-control" asp-for="FlatStatusId" asp-items="@(new SelectList(ViewBag.FlatStatus,"Id","Status"))">
                    <option disabled selected>Lütfen Birini Seçin</option>
                </select>
                <span asp-validation-for="FlatStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlatTypeId" class="control-label"></label>
                <a id="open6" data-toggle="modal" data-target="#showmodal6" asp-action="" class="form-control btn btn-primary">Daire Tipi Ekle</a>
                <select class="form-control" asp-for="FlatTypeId" asp-items="@(new SelectList(ViewBag.FlatType,"Id","Type"))">
                    <option disabled selected>Lütfen Birini Seçin</option>
                </select>
                <span asp-validation-for="FlatTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseOwnerId" class="control-label"></label>
                <select class="form-control" asp-for="HouseOwnerId" asp-items="@(new SelectList(ViewBag.HouseOwner,"Id","Name"))">
                    <option disabled selected>Lütfen Birini Seçin</option>
                </select>
                <span asp-validation-for="HouseOwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

