

<div style="margin-left: auto; margin-right: auto; text-align: center;">
    <asp:Label  runat="server" Text="ABC" Font-Bold="true" Font-Size="X-Large" CssClass="StrongText">
        <h1>AnaSayfa</h1>
        <br />
        <h5>Sign Up Sekmesine Tıklayıp Kullanıcı Oluşturunuz</h5>
    </asp:Label>
</div>
