@model AddBuildingDto

    <style>
        .modal2{
            left:-30%;
        }

        .modal3 {
            left: -30%;
            bottom:-30%;
        }
    </style>

<div id="showmodal2" class="modal fade modal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @await Component.InvokeAsync("BuildingStatus");
        </div>
    </div>
</div>

<div id="showmodal3" class="modal fade modal3" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            @await Component.InvokeAsync("BuildingType");
        </div>
    </div>
</div>


<div class="modal-header">
    <h4 class="modal-title">Site Ekle</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <form asp-action="AddBuilding" asp-controller="Building" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="BlockName" class="control-label">Site Adı</label>
            <input asp-for="BlockName" class="form-control" />
            <span asp-validation-for="BlockName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BuildingStatusId" class="control-label">Site Durumu</label>
            <a id="open2" data-toggle="modal" data-target="#showmodal2"  asp-action="" class="btn btn-primary btn-xs form-control" style="padding-top: 1%; padding-bottom: 0px; padding-left: 0px; padding-right: 0px">Site Durumu Ekle</a>
            <select class="form-control" asp-for="BuildingStatusId" asp-items="@(new SelectList(ViewBag.BuildingStatus,"Id","Status"))">
                <option disabled selected>Lütfen Birini Seçin</option>
            </select>
            <span asp-validation-for="BuildingStatusId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BuildingTypeId" class="control-label">Site Tipi</label>
            <a id="open3" data-toggle="modal" data-target="#showmodal3"  asp-action="" class="btn btn-primary btn-xs form-control" style="padding-top: 1%; padding-bottom: 0px; padding-left: 0px; padding-right: 0px">Site Tipi Ekle</a>
            <select class="form-control" asp-for="BuildingTypeId" asp-items="@(new SelectList(ViewBag.BuildingType,"Id","Type"))">
                <option disabled selected>Lütfen Birini Seçin</option>
            </select>
            <span asp-validation-for="BuildingTypeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </form>
</div>


